	<ul class = "nav">
			<li><a id = "{% if page.character_name == 'Blog'%}current{% endif %}" href= "{{site.baseurl}}/blog/"><i class="fa fa-weixin"></i>&nbsp;Blog</a></li>
			<li><a id = "{% if page.character_name == 'About'%}current{% endif %}" href= "{{site.baseurl}}/about/"><i class="fa fa-info-circle"></i>&nbsp;About</a></li>
			
	</ul>
	<div class = "top-container">
	<div class = "image">
		<a href="{{site.baseurl}}/">
			<img src = "{{site.baseurl}}/images/logo.png">
		</a>
	</div>
</div>

