body{ 
	margin: 0; 
	padding: 0;
	background-color: #EBF5F9;
	font-family: sans-serif;
}

.indexfooter{
	background-color: black;
	padding: 15px;
	color: white;
	text-align:center;
	 word-spacing: 50px;
}
.image{
	text-align: center;
}
.image img{
	width: 30em;
	height: auto;
}
.allPictures{
 margin: 0 auto;
 text-align: center;
 width: 90%;
 padding-bottom: 50px;
}
.allPictures a img:hover{
	transform: scale(1.1);
	box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}
.allPictures a img{
		transition: all .3s ease;
		width: 190px;
		height: 175px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
		margin: 3px;
}
.top-container{
	width: 100%; 
	display: table;
	padding-bottom: auto;
}
.navigation {
	text-align:center;
	font-size: 1.8em;	
	padding-bottom: 20px;
}
.navigation a, .indexfooter a{
  color: #429ec1;
  text-decoration: none;
  transition: color .45s ease;
}

.about{
	float:right;
	font-size: 1.5em;
	padding-right: 25px;
	padding-top: 10px;
}
.submit{
	float:left;
	font-size: 1.5em;
	padding-left: 25px;
	padding-top: 10px;
}
.submit a, .about a{
color: #429ec1;
  text-decoration: none;
  transition: color .45s ease;
}


.navigation a:hover{
	color: #8B969A;
	transition: color .45s ease;
}
.middle-wrapper{
  color: black; 
  padding: .5rem;
  margin:0 auto 0 auto;
}
.middle-wrapper h3{
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}
.character{
text-align:center;
}
.middle-wrapper img, h1{
    margin:0 auto;
	text-align:center;
}

h1 { 
	margin-bottom: .5rem; 
	margin-top: 2rem; 
}

h4 a{
	color: #0079d3;
	text-decoration: none;
}
h4 a:hover{
	text-decoration: underline;
}
hr{
   border: 0;
   height: 2px;
   background: #333;
   background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
   background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
   background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
   background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

#content{
	 margin: 0 auto;
    width: 70%;
	 
}
#content .column{
	float: left;
    margin: 0 auto;
    width: 33%;
	overflow:auto;
}
ul{
  list-style-type: none;
}
ul h2{
	font-size: 1.2em;
	 text-align: center;
}



ol{
list-style-type: none;
float:left;
text-align: center;
}
ol li a img{
	width: 60px;
	height: 60px;
	float:left;
	transition: all .2s ease;
}
ol li a img:hover{
	opacity: .6;
}

/*Begin submit video forms*/

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	margin-bottom:50px;
}
.theForm{
padding-bottom: 600px;
}
#form-div {
	background-color:rgba(117,187,213,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 13px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 13px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
#submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

#submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
/*Thank you http://codepen.io/rexkirby/pen/Fdnlz for the code :) */

