---
layout: default
---
{% for character in site.data.characters %}
  {% if character[0] == page.character_name %}
  <div class = "middle-wrapper">
  	<div class = "character">
  		<img src = "{{site.baseurl}}/images/{{character[0] | downcase}}.png">
  	</div>
  	<h1>
  		<font color = "{{character[1].color}}">
  			{{character[1].name}}
  		</font>
  	</h1>
  	<div id = "content">
      {% for category in character[1].videos %}
      <div class = "column">
        <ul>
          <h2>{{ category[0] }}</h2>
          <hr>
          {% for item in category[1] %}
          <h4><a href="{{ item.url }}" target="_blank"><div id = "{{item.opponent | downcase}}"></div>{{ item.title }}<div id = "{% if category[0] == 'Tournaments' %}{{character[0] | downcase}}{% else %}{% endif %}"></div></a></h4>
          {% endfor %}
        </ul>
    	</div>
      {% endfor %}
  		{% include footer_image.html %}
  	</div>
  </div>
  {% endif %}
{% endfor %}
